
*.wpc
*.xml
*.lpr
*.xci
*.dcp
\ip\*
*.v
*.db
*.wdf
*.vh
*.veo
*.vho
*.xdc
*.bak
*.ini
*.pb
*.rlx
*.vdb
*.udo
*.f
*.opt
*.tcl
*.prj
*.rst
*.js
*.bat
*.vds
*.jou
Labo01_PriseEnMain/Labo01_PriseEnMain.runs/vio_0_synth_1/__synthesis_is_complete__
*.rpt
*.wdb
*.obj
*.rtti
*.mem
*.svtype
*.type
*.xdbg
*.log
*.reloc
*.exe
*.dbg
*.do
*.sh
*.txt
*.vhdl
*.c
Labo01_PriseEnMain/Labo01_PriseEnMain.runs/synth_1/__synthesis_is_running__
